/* ----- Font Imports ----- */

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  }

/* ----- Smooth Scrolling ----- */

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

/* ----- Global Styles ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
    --color-brown: #957554;
    --color-button: #DFAA5B;
    --color-white: white;
    --color-black: black;
}

/* ----- Font Stylings ----- */

html {
    font-family: 'Ubuntu';
}


